{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='css/animated.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('.static', filename='css/signin.css')}}">
{% endblock %}

{% block content %}
<div class="container animated bounceIn">

  <form class="form-signin" method="POST" action="/signup">
    {% set fname = 'img/'+ login_image %}

    <center>
      <img class="mb-4" src="{{url_for('static', filename=fname)}}" alt="" width="100" height="100">
    </center>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <h4>Already a member? <a href="{{ url_for('login') }}">Sign In</a></h4>
  </form>

  <!-- Message flashing -->
  <!-- {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %} -->

</div> <!-- /container -->
{% endblock %}